* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-search {
    position: sticky;
    top: 0;
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    flex: 0.1;
}
.form-search__input-search {
    flex: 1;
}

.form-search__input-search,
.form-search__btn-submit {
    border: 0;
    outline: none;
    transition: background-color, padding-left 1s;
}

.form-search__input-search:hover,
.form-search__btn-submit:hover {
    background: rgba(192, 192, 192, 0.507);
}

.posts {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    flex: 1;
}

.post {
    margin: 2rem auto !important;
}

.post__title {
    font-size: 20px;
    margin: 0 0 1rem 0;
}

.border {
    box-shadow: 0 0 1px 0 red, 
        5px 5px 0 0 red, 
        10px 10px 0 0 #001dff;
    background-color: white;
    padding: 1rem;
    margin: .2rem 0 1rem 0;
}

.search-word {
    background-color: rgba(255, 0, 0, 0.438);
}